/*/ Imports /*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*/ Root styling /*/

* {
    font-size: 10px;
}

/*/ Website Background (MAIN) /*/

body {
    background-color: #151515;
    color: #FFFFFF;
    font-family: "Inter";
}

/*/ Website Header /*/

header {
    width: 100%;
    height: 8.5rem;
    padding: 3rem 5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    width: 12.5rem;
}

.headerLink {
    font-size: 1.5rem;
    font-weight: 400;
    color: #808080;
    cursor: pointer;
}

.headerLinkActive {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}

#headerLinks {
    gap: 2.5rem;
    display: flex;
    flex-direction: row;

}

#accountSignUpBtn {
    width: 7.5rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    color: #151515;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

#accountLoginBtn {
    width: 7.5rem;
    height: 2.5rem;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
}

#accountHero {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}